.jarviis-img{
    width: 300px;
    height: 300px;
    object-fit: fill;
}
.login-img{
    width: 25px;
    height: 25px;
}
.snoopy-img{
    width: 150px;
    height: 150px;
    object-fit: fill;
}
.logo{
    width: 50px;
    height: 50px;
}